
<div class="container">
<h1><%= @restaurant.name %></h1>
<h6>Address: <%=  @restaurant.address%></h6>
<h6>Category: <%= @restaurant.category %></h6>

<%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %>


  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, placeholder: "Write your review here" %>
    <%= f.input :rating, placeholder: "Add a rating (1-5)" %>
    <%= f.submit "Add a review", class: "btn btn-primary" %>
  <% end %>
 <%= link_to "Back to list", restaurants_path %>
</div>
